<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="McTools.Xrm.Connection" publicKeyToken="96037217801d9658" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2016.3.29" newVersion="1.2016.3.29" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>